<!--
Alex Luo, Evan Chan, Leon Huang, Stanley Hoo
KungFuPandaSquad 
SoftDev
P02: Makers Makin' It, Act I
2025-1-9
Time spent: x
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Steak Co. Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

    <header>
        <!-- Allows flashing messages in the html -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </header>
    
    <h1>Steak Co.</h1>
        

    {% if username %}
        <h2 class="home-subtitle">Welcome back, {{ username }}!</h2>
        <p class="home-paragraph">Your current balance is: <strong>{{ balance }}</strong></p>

        <div class="button-group-home">
            <a href="{{ url_for('play_blackjack') }}">
                <button class="btn-home">Play Blackjack</button>
            </a>
            <a href="{{ url_for('plinko') }}">
                <button class="btn-home">Play Plinko</button>
            </a>
            <a href="{{ url_for('mines') }}">
                <button class="btn-home">Play Mines</button>
            </a>
        </div>

        <div class="logout-container">
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
        <!--
        {% if saved_games %}
            <h3>Your active games:</h3>
            {% for game in saved_games %}
            <li> 
                Game Type: {{ game["game_type"] }}
                Status : {{ game["status"] }}
                <form action="{{ url_for('resume_game') }}" method = "POST">
                    <input type="hidden" name="game_id" value="{{ game['game_id'] }}">
                    <button type="submit">Resume</button>
                </form>
            </li>
            {% endfor %}
        {% else %}
            <p> No in progress games. Start a new one!</p>
        {% endif %}
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
        -->
    {% else %}
        <h2 class="home-subtitle">Welcome to Steak Co.</h2>
        <p class="home-paragraph">Please login or register to play.</p>
        <div class="login-register-container">
            <a href="{{ url_for('login') }}"><button class="btn-login-register">Go to Login</button></a>
        </div>
        
    {% endif %}
    </body>
</html>

