<!--
Alex Luo, Evan Chan, Leon Huang, Stanley Hoo
KungFuPandaSquad 
SoftDev
P02: Makers Makin' It, Act I
2025-1-9
Time spent: x
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Steak Co. Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <header>
        <h1>Steak Co.</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('play_blackjack') }}">Blackjack</a></li>
            </ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </header>

    {% if username %}
        <h2>Welcome back, {{ username }}!</h2>
        <p>Your current balance is: <strong>{{ balance }}</strong></p>
        {% if saved_games %}
            <h3>Your active games:</h3>
            {% for game in saved_games %}
            <li> 
                Game Type: {{ game["game_type"] }}
                Status : {{ game["status"] }}
                <form action="{{ url_for('resume_game') }}" method = "POST">
                    <input type="hidden" name="game_id" value="{{ game["game_id"] }}">
                    <button type="submit">Resume</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p> No in progress games. Start a new one!</p>
        {% endif %}
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h2>Welcome to Steak Co.</h2>
        <p>Please login or register to play.</p>
        <a href="{{ url_for('login') }}">Go to Login</a>
    {% endif %}
    
</html>

