<!--
Alex Luo, Evan Chan, Leon Huang, Stanley Hoo
KungFuPandaSquad 
SoftDev
P02: Makers Makin' It, Act I
2025-1-9
Time spent: 51
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Steak Co. Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <!-- Allows flashing messages in the html -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </header>

        <!-- Navbar -->
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home🏠</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Games🎮▼</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('play_blackjack') }}">Blackjack <img src="{{ url_for('static', filename='images/blackjack.png') }}" class=blackjack-icon></a></li>
                        <li><a href="{{ url_for('plinko') }}">Plinko🎲</a></li>
                        <li><a href="{{ url_for('mines') }}">Mines💣</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('show_leaderboard') }}">Leaderboard🏆</a></li>
                {% if username %}
                    <div class="welcome-container">
                        <span class="welcome-message">Welcome, {{ username }}!</span>
                        <a href="{{ url_for('logout') }}" class="signout-btn">Sign Out</a>
                    </div>
                {% endif %}
            </ul>
        </nav>

        <!-- Containers -->
        <div class="form-container">
            <!-- Login form -->
            <h1 class="home-subtitle">Login</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <label>Username:</label><br>
                <input type="text" name="username" required><br><br>

                <label>Password:</label><br>
                <input type="password" name="password" required><br><br>

                <button type="submit">Login</button>
            </form>

             <!-- Register form -->
            <h2 class="home-subtitle">Register</h2>
            <form action="{{ url_for('register') }}" method="POST">
                <label>Username:</label><br>
                <input type="text" name="username" required><br><br>

                <label>Password:</label><br>
                <input type="password" name="password" required><br><br>

                <button type="submit">Register</button>
            </form>
        </div>
    </body>
    
</html>

