<!--
Alex Luo, Evan Chan, Leon Huang, Stanley Hoo
KungFuPandaSquad
SoftDev
P02: Makers Makin' It, Act I
2025-1-9
Time spent: x
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mines</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      canvas {
        border:1px solid #ffffff;
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    </style>
  </head>
  <body onload = "startGame()">
    <script>
      //financials
      var creditcardinfo;
      var balance;

      //sizing
      var browWidth;
      var browHeight;
      var cWidth;
      var cHeight;

      //pre game
      var numRows;
      var numCols;
      var grid;
      var mines; //1 to (numRows*numCols)-1
      var clicksAllowed;

      //in game
      var playing;
      var frameCount;

      function startGame(){
        // balance = {{bal}};
        balance = 100000;

        resizeCanvas();

        playing = false;
        numRows = 5;
        numCols = numRows;
        mines = 3;

        resetGame();

        board.start();
      }//startGame

      function resetGame(){
        let rig = (((numRows*numRows)+1)/(mines+1))-.5;
        let sd = negativeHypergeometricDistributionToFindStandardDistributionOfMines(numRows*numRows, mines);
        clicksAllowed = Math.floor(genNormalDistribution(rig, sd));
        if(clicksAllowed<0){
          clicksAllowed*=0;
        }
        frameCount = 0;
        playing = true;
        createGrid();
      }//startGame

      var board = {
        canvas : document.createElement("canvas"),
        start : function() {
          this.canvas.width = cWidth;
          this.canvas.height = cHeight;
          this.context = this.canvas.getContext("2d");
          document.body.insertBefore(this.canvas, document.body.childNodes[0]);
          this.frameNo = 0;
          this.interval = setInterval(updateGameArea, 20);
          },
        clear : function() {
          this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        }
      }//board

      function updateGameArea(){
        frameCount++;
        resizeCanvas();

        displayEverything();
      }//updateGameArea

      function displayEverything(){
        //makes the rounded rectangular canvas
        board.clear();
        board.frameNo+=1;
        board.context.fillStyle = "#0f1728";
        board.context.beginPath();
        board.context.roundRect(0,0,cWidth,cHeight,1/40*cHeight);
        board.context.fill();
        board.context.globalAlpha = 0;
        board.context.stroke();
        board.context.globalAlpha = 1;

        displayGrid();
        displayUI();
      }//displayEverything

      function displayUI(){
        //grey box
        board.frameNo+=1;
        board.context.fillStyle = "#334155";
        board.context.beginPath();
        board.context.roundRect(0,0,cWidth/3,cHeight,1/40*cHeight);
        board.context.rect(cWidth/6,0,cWidth/6,cHeight)
        board.context.fill();
        board.context.globalAlpha = 0;
        board.context.stroke();
        board.context.globalAlpha = 1;
      }//displayUI

      function displayGrid(){
        for(let i = 0;i<numRows;i++){
          for(let n = 0;n<numCols;n++){
            grid[i][n].display();
          }
        }
      }//displayGrid

      function createGrid(){
        grid = [];
        let pads = (1/30)*cHeight;
        let hBounds = [cWidth*(1/3), cWidth];
        let sidePads = ((hBounds[1]-hBounds[0])-cHeight)/2;
        let sideLength = ((hBounds[1]-hBounds[0])-(sidePads*2)-(pads*6))/numRows;

        let startXY = [hBounds[0]+(sidePads*1.25),-(1/100)*cHeight];
        for(let i = 0;i<numRows;i++){
          grid[i] = [];
          for(let n = 0;n<numCols;n++){
            grid[i][n] = new Square(startXY[0]+i*(sideLength+pads), startXY[1]+pads+n*(sideLength+pads), sideLength);
          }
        }
      }//createGrid

      class Square {
        constructor(px, py, sl){
          this.x = px;
          this.y = py;
          this.tx = this.x;
          this.ty = this.y;
          this.state = 3;//1=explode,2=clean,3=unflipped
          this.sideLength = sl;
          this.newSL = sl;
          this.center = [this.x+this.sideLength/2, this.y+this.sideLength/2];
          this.animating = false;
          this.animEnd = 0;
          this.clickable = true;
          this.hovering = false;
        }//constructor

        display(){
          if(this.hovering){
            if(this.y-this.ty<=(1/200)*cHeight){//going up
              this.ty-=((this.y+(1/200)*cHeight)-this.ty)/2;
            }
          }
          else if(this.hovering == false && this.animating == false){
            if(this.ty<=this.y){//going back down
              this.ty-=(this.ty-this.y)/2;
            }
          }
          board.context.fillStyle = "#313236";
          board.context.beginPath();
          board.context.roundRect(this.center[0]-this.sideLength*0.95/2,this.center[1]-this.sideLength*0.95/2,this.sideLength*0.95,this.sideLength*0.95,1/40*cHeight);
          board.context.fill();
          board.context.globalAlpha = 0;
          board.context.stroke();
          board.context.globalAlpha = 1;
          if(this.state == 1){
            board.context.fillStyle = "#fa5050";
            board.context.beginPath();
            board.context.roundRect(this.center[0]-this.sideLength*0.7/2,this.center[1]-this.sideLength*0.7/2,this.sideLength*0.7, this.sideLength*0.7,1/40*cHeight);
            board.context.fill();
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
          }
          else if(this.state == 2){
            board.context.fillStyle = "#3deb46";
            board.context.beginPath();
            board.context.roundRect(this.center[0]-this.sideLength*0.7/2,this.center[1]-this.sideLength*0.7/2,this.sideLength*0.7,this.sideLength*0.7,1/40*cHeight);
            board.context.fill();
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
          }
          else if(this.state == 3){
            board.context.fillStyle = "#334155";
            board.context.beginPath();
            board.context.roundRect(this.tx,this.ty,this.sideLength,this.sideLength+(1/100*cHeight),1/40*cHeight);
            board.context.fill();
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
            board.context.fillStyle = lerpColor([73, 94, 122], [95, 122, 158], (this.y-this.ty)/((1/200)*cHeight));;
            board.context.beginPath();
            board.context.roundRect(this.tx,this.ty,this.sideLength,this.sideLength,1/40*cHeight);
            board.context.fill();
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
          }
          if(this.animating){
            board.context.fillStyle = "#334155";
            if(frameCount >= this.animEnd){
              this.animating = false;
            }
            if(this.animEnd-frameCount>=75){
              this.ty+=((this.y+(1/200)*cHeight)-this.ty)/2;
            }
            else if(this.animEnd-frameCount>=50){
              //get biggg
              this.tx-=(1/2500)*cHeight;
              this.ty-=(1/2500)*cHeight;
              this.newSL+=(2/2500)*cHeight;
            }
            else{
              this.newSL+=(0-this.newSL)/2;
              this.tx+=(this.center[0]+(1/200)*cHeight-this.tx)/2;
              this.ty+=(this.center[1]+(1/200)*cHeight-this.ty)/2;
            }
            board.context.beginPath();
            board.context.roundRect(this.tx,this.ty,this.newSL,this.newSL+(1/100*cHeight),1/40*cHeight);
            board.context.fill();
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
            board.context.fillStyle = lerpColor([73, 94, 122], [95, 122, 158], .1);;
            board.context.beginPath();
            board.context.roundRect(this.tx,this.ty,this.newSL,this.newSL,1/40*cHeight);
            board.context.fill();              
            board.context.globalAlpha = 0;
            board.context.stroke();
            board.context.globalAlpha = 1;
          } 
        }//display

        open(){
          if(clicksAllowed>=1){
            this.state = 2;
            clicksAllowed--;
          }
          else{
            this.state = 1;
          }

          this.tx = this.x;
          this.ty = this.y;
          this.animating = true;
          this.animEnd = frameCount+100;
        }//open
      }//Square class

      board.canvas.addEventListener('mousemove', (event) => {
        const rCanvas = board.canvas.getBoundingClientRect();
        const mouseX = event.clientX - rCanvas.left;
        const mouseY = event.clientY - rCanvas.top;

        for(let i = 0;i<grid.length;i++){
          for(let n = 0;n<grid[i].length;n++){
            let sq = grid[i][n];
            if(
              sq.clickable == true &&
              mouseX > sq.x &&
              mouseX < sq.x + sq.sideLength &&
              mouseY > sq.y &&
              mouseY < sq.y + sq.sideLength
            ){
              sq.hovering = true;
            }
            else{
              sq.hovering = false;
            }
          }
        }
      });//mouse hovering detection

      board.canvas.addEventListener('click', (event) => {
        if(playing){
          const rCanvas = board.canvas.getBoundingClientRect();
          const mouseX = event.clientX - rCanvas.left;
          const mouseY = event.clientY - rCanvas.top;

          for(let i = 0;i<grid.length;i++){
            for(let n = 0;n<grid[i].length;n++){
              let sq = grid[i][n];
              if(
                sq.clickable == true &&
                mouseX > sq.x &&
                mouseX < sq.x + sq.sideLength &&
                mouseY > sq.y &&
                mouseY < sq.y + sq.sideLength
              ){
                sq.clickable = false;
                sq.open();
                if (sq.state==1){
                  endGame(false);
                }
              }
            }
          }
        }
      });//mouse hovering detection

      function resizeCanvas(){
        browWidth = window.innerWidth;
        browHeight = window.innerHeight;
        cWidth = (1440/2160)*browWidth;
        cHeight = (800/1440)*cWidth;
      }//resizeCanvas

      function lerp(start, end, amt) {
        return start * (1 - amt) + end * amt;
      }//lerp

      function lerpColor(color1, color2, amt) {
        let r = lerp(color1[0], color2[0], amt);
        let g = lerp(color1[1], color2[1], amt);
        let b = lerp(color1[2], color2[2], amt);

        return `rgb(${Math.round(r)}, ${Math.round(g)}, ${Math.round(b)})`;
      }//lerpColor this is a lot of work...from plinko.html

      function endGame(win){
        playing = false;
      }//endGame

      function genNormalDistribution(mean, stdDev) {
        const u1 = Math.random();
        const u2 = Math.random();

        const z0 = Math.sqrt(-2.0 * Math.log(u1)) * Math.cos(2.0 * Math.PI * u2);
        const z1 = Math.sqrt(-2.0 * Math.log(u1)) * Math.sin(2.0 * Math.PI * u2);

        return z0 * stdDev + mean; 
      }//genNormalDistribution

      function negativeHypergeometricDistributionToFindStandardDistributionOfMines(n, k){//n is squares in grid, k is # of mines
        let numerator = k*(n-k);
        let denominator = (k+1)*(k+1)*(k+2);

        return Math.pow(numerator/denominator, 0.5);
      }//hypergeometricDistributionToFindStandardDistributionOfMines
    </script>
  </body>
</html>

